<!DOCTYPE html>

{% extends ‘base.html’ %}

{% block title %} Page Not Found {% endblock %}

{% block body %}
    <h1>404 Error :</h1>
    <p>What you were looking for is just not there.<p>
    <a href="{{http://localhost:8030/}}”>go somewhere nice</a>
{% endblock %}