<!DOCTYPE html>

<html>
    <head>
        <h1>BucketList</h1>
    </head>
    <body>
        <ul>
            {% for name in list_example %}
            <li><a href="http://localhost:8030/{{name}}/controlcenter">{{ name }}</a></li>
            {% endfor %}
        </ul>
	</body>
</html>