<!DOCTYPE html>

<html>
    <head>
        <h1>
            Control Center : {{bucketname}}
        </h1>
    </head>
    <body>
        <div>
            {{alert}}
        </div>
        <div>
            {% for name in list_example %}
            <div>
            <li>{{name}}
                <form method="post" action="http://localhost:8030/{{bucketname}}/{{name}}/submit">
                    <input type="submit" value="Generate Gif">
                </form> 
            </li>
            </div>
            {% endfor %}
        </div>
        <br/>
        <div>
            <a href="http://localhost:8030/{{bucketname}}/displayroom">go to displayroom</a>
            <form method="post" action="http://localhost:8030/{{bucketname}}/submitall">
                <input type="submit" value="submit all file to make gif">
            </form>
        </div>
    </body>
</html>