<!DOCTYPE html>

<html>
    <head>
        <h1>
            Display Room : {{bucketname}}
        </h1>
    </head>
    <body>
        <div>
            {{alert}}
        </div>
        <div>
            {% for pair in list_example %}
            <div>
                <br />
                <li>{{pair[0]}}</li>
                <img src={{pair[1]}}>
                <form method="post" action="http://localhost:8030/{{bucketname}}/{{pair[0]}}/delete">
                    <input type="submit" value="delete {{pair[0]}}">
                </form>
                <br />
            </div>
            {% endfor %}
        </div>
        <div>
            <a href="http://localhost:8030/{{bucketname}}/controlcenter"> Go to Control room </a>
            <form method="post" action={{deleteall}}>
                <input type="submit" value="Delete all gifs on {{bucketname}}">
            </form>
        </div>
    </body>
</html>